<%= form_with(model: url) do |form| %>
  <% if url.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(url.errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
        <% url.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group m-2">
    <label>Long URL</label>
    <%= form.text_field :long_url, class: "form-control", placeholder: "Enter long url" %>
  </div>
  <%= form.submit "Submit", class: "btn btn-primary" %>
<% end %>

